doctype html 
html 
    block head
        head    
            script(src='https://js.stripe.com/v3/')
            meta(http-equiv='Content-Security-Policy' content=`default-src * 'unsafe-inline' 'unsafe-eval' 'self'; script-src * 'unsafe-inline' 'unsafe-eval' blob:; img-src * 'self' data: blob:;`)
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            title= `Natours | ${title}`
            

    body 
        include _header

        block content
            

        include _footer
        
        //- script(src=`/js/login.js`)
        //- script(src=`/js/mapbox.js`)
        //- script(src=`https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js`)
        script(src=`/js/bundle.js`)
